<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers List</title>
</head>
<body>
    <h3>Customers List</h3>
    <hr>

    <!-- Add a button to add customer -->
    <a th:href="@{/customers/showFormForAddCustomer}">
        Add Customer
    </a>

    <table border="1">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="tempCustomer: ${customers}">

                <td th:text="${tempCustomer.firstName}"/>
                <td th:text="${tempCustomer.lastName}"/>
                <td th:text="${tempCustomer.email}"/>
                <td>
                    <!-- Add "update" link -->
                    <a th:href="@{/customers/showFormForUpdateCustomer(customerId=${tempCustomer.id})}">
                        Update
                    </a>

                    <!-- Add "delete" link -->
                    <a th:href="@{/customers/delete(customerId=${tempCustomer.id})}"
                       onclick="if(!(confirm('Are you sure you want to delete this customer?'))) return false">
                        Delete
                    </a>

                </td>


            </tr>
        </tbody>
    </table>



</body>
</html>